/* styles.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #181818 !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  background: #181818 !important;
  margin: 0 !important;
  border: #181818 SOLID;

  color: WHITE !important;
}

body {
  color: WHITE !important;
}

nav {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  background: #b6c4b6;
}

.navbar-toggler-icon {
  background-image: url('icons8-menü-24.png') !important;
}

.burger-content {
  margin-right: 50px !important;
}

.nav-body {
  margin: 5px;
}

a {
  border-radius: 5px;
}

/* Neue Anpassungen für die Navbar */

/* Hintergrundfarbe der Navbar ändern */
.navbar-bg {
  background-color: #222;
}

/* Farben für Links und Hover-Effekte */
.navbar-bg a {
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-bg a:hover {
  color: #61dafb;
}

/* Anpassung des Offcanvas-Titels */
.offcanvas-title {
  font-size: 1.5rem;
  color: #61dafb;
}

/* Anpassung des Schließensymbols */
.offcanvas-header button.close {
  color: #61dafb;
}

/* Schatten hinzufügen */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.padding-left {
  padding: 20px;
}